---
import logo from '../assets/logo1.png'
---
<section class="container about" id="aqui">
    <div class="mission-container">
        <h2 class="subtitle"><b>Misión.</b></h2>
        <p class="about__paragraph">Ser la plataforma líder en la solicitud de comida dentro de los campus universitarios, proporcionando una experiencia conveniente y eficiente para estudiantes y personal universitario, a través de la innovación tecnológica y la colaboración continua con la comunidad.</p>
        <img src={logo} alt="Hero illustrator">
    </div>
</section>

<section class="container about" id="aqui">   
    <div class="vision-container">
        <h2 class="subtitle"><b>Visión.</b></h2>
        <p class="about__paragraph">Facilitar y agilizar el proceso de solicitud y entrega de comida en el campus universitario, ofreciendo una amplia gama de opciones de alimentos y garantizando una experiencia satisfactoria para nuestros usuarios.</p>
        <img src={logo} alt="Hero illustrator">
    </div>
</section>


<style lang="scss">
/* About */
.about {
    text-align: center;
    margin-top: 100px;
}

.subtitle {
    color: #ffffff;
    font-size: 5rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
    color: #ffffff;
}

.about__main {
    padding-top: 80px;
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 100px;
}

.mission-container {
    border: 4px solid; 
    border-radius: 15px; 
    padding: 20px;
    margin-bottom: 50px; 
    width: 90%; 
    max-width: 1000px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto; 
    background-image: url('../assets/people.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.mission-container img {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 7%;
}

.vision-container {
    border: 4px solid; 
    border-radius: 15px; 
    padding: 20px;
    margin-bottom: 50px;
    width: 90%; 
    max-width: 1000px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto; 
    background-image: url('../assets/people.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.vision-container img {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 7%;
}

</style>