---
import Logo from '../assets/banner.png'
---


<header>
    <nav class="container">
        <div class="nav-logo">
            <a href=" ">
                <img src={Logo} alt="brand logo">
            </a>
        </div>
        <div class="nav-links">
            <a href="https://www.facebook.com/profile.php?id=61550883294798&mibextid=JRoKGi" style="color: #494949; text-decoration: none; ">Facebook</a>
            <a href="https://www.instagram.com/uhungryoficial?igsh=MTBlM3hkd3VxNXl5eA%3D%3D&utm_source=qr" style="color: #494949; text-decoration: none;">Instagram</a>
        </div>
    </nav>
</header>


<style lang="scss">
nav{
    position: relative;
    display: grid;
    grid-template-columns: 12% 55% 30%;
    top: 10px;
    .nav-cta{
       text-align: right;
    }
    .nav-links{
        margin-top:2px;
        margin-right: 40px;
    }
    a:not(.button){
        padding: 0 10px;
        color: #494949;
        text-decoration: none;
        img{
            width: 90px;
            margin-left: -6px;
            margin-top: 2px;
        }
    }

    .button:hover {
        background-color: #4ca2f8 !important;
    }
    
    @media (max-width:700px) {
        grid-template-columns: 1fr; /* Un solo columna para que todo ocupe el 100% del ancho */
        .nav-logo {
            grid-column: 1 / span 3; /* Ocupa todo el ancho */
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
        }
        .nav-links{
            display: none;
        }
    }
}
</style>
